
/* reset */
*{
    margin: 0;
    box-sizing: border-box;
}

/* common */
body{
    width: 70%;
}

/* header */

header{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgb(72, 72, 223);
    display: block;
}

.logo-header{
    width: 20%;
    margin-left:10px;
    margin-top: 20px;

}
/* /header */

/* title section */

    .title-container{
        margin-top: 20px;
    }

    .main-title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1,5rem;
        font-weight: bold;
        color: gray;   
    }

    .date{
        font-size: 12px;
        color: gray;
    }

    .writer{
        color: rgb(46, 169, 222);
    }
/* end of title section */

/* main */
.image-container{
    margin-top: 20px; 
}

.first-paragraph{
    margin-top: 20px;
}

.important-text{
    background-color: yellow;
}

.list-container{
    margin-top: 20px;
}

.table-container{
    margin-top: 20px;
    width: 100%;
}

.thin-column{
    width:25%;
}

thead{
    background-color: rgb(0, 166, 255);
    color: white;
    text-align: left;
}

.lightblue-raw{
    background-color: lightblue;
}

.second-paragraph{
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

/* /main */

/* footer */
.suggested{
    color: grey;
    font-size: 18px;
    font-weight: bold;
}

.pc-image{
    width: 300px;
    height: 200px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    padding-top: 10px;
}

.graphic-image{
    width: 300px;
    height: 200px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

footer{
    margin-left: 10px;
}
