
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */

/* header */
.container{
    background-image:url(../img/pattern.png);
    background-color: rgb(85, 148, 225);
    
    
}
/* /header */

/* main */

/* footer */
