
/* reset */
*{
    margin: 0;
    box-sizing: border-box;
}

/* common */

/* header */
.container{
    background-image:url(../img/pattern.png);
    background-color: rgb(85, 148, 225);
    
    
}
/* /header */

/* main */
/* title section */

    .title-container{
        margin-top: 20px;
    }

    .main-title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1,5rem;
        font-weight: bold;
        color: gray;   
    }

    .date{
        font-size: 12px;
        color: gray;
    }

    .writer{
        color: rgb(46, 169, 222);
    }
/* end of title section */

.image-container{
    margin-bottom: 20px;
}

.first-paragraph{
    margin-bottom: 20px;
}

.important-text{
    background-color: yellow;
}

.list-container{
    margin-bottom: 20px;
}


thead{
    background-color: rgb(0, 166, 255);
    color: white;
    text-align: left;
}

.lightblue-raw{
    background-color: lightblue;
}

.second-paragraph{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* /main */

/* footer */
